@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: [first] 20% [second] auto [third] 20% [end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row-end];
}

.main {
    grid-column: second / third;
    grid-row: row2-start / row3-start;
}

.main {
    width: 100%;
    max-width: 64rem;
    padding: 2rem;
    margin: 0 auto;
    background-color: $main-background-color;
}

.hidden {
    display: none !important;
}