.header {
    grid-column: first / end;
    grid-row: row1-start / row2-start;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #aaa;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    font-size: 3rem;
}